apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: silverbullet
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/KraLeoD/terraform-hcloud-talos
    targetRevision: main
    path: .demo/manifests/apps/silverbullet
    directory:
      include: "*.yaml"
      exclude: "application.yaml"
  destination:
    server: https://kubernetes.default.svc
    namespace: silverbullet
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
