apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: silverbullet-data
  namespace: silverbullet
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
