apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-root
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    path: .demo/manifests/apps
    repoURL: https://github.com/KraLeoD/terraform-hcloud-talos
    targetRevision: main  # Feature branch with DNS/TLS/Authentik
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
